@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Rubik+Iso&family=Ubuntu&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  user-select: none;
}
body {
  width: 100%;
  min-height: 100%;
}
.container {
  width: 100%;
  min-height: 100%;
  background-color: #c8ffe0d7;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* overflow-x: hidden; */
}
.navbar {
  width: 100%;
  color: aliceblue;
  background-color: #614bc3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4vw;
  box-shadow: 0px 6px 10px 0px #000000b8;
  margin-bottom: 4vw;
  border-radius: 0vw 0vw 1.5vw 1.5vw;
}
.navbar i {
  cursor: pointer;
  background-color: #33bbc5;
  padding: 0.6vw 1vw;
  border-radius: 0.5vw;
  display: flex;
  align-items: center;
  margin-left: 3vw;
  font-size: 2.2vw;
}
.navbar i h3 {
  margin-left: 1vmin;
  font-size: 1.5vw;
}
.navbar ul {
  margin-right: 3vw;
  display: flex;
  align-items: center;
}
.navbar ul li {
  list-style: none;
}
.navbar ul li:nth-child(1) {
  background-color: #33bbc5;
  padding: 0.6vw 0.4vw;
  border-radius: 0.5vw;
}
.navbar ul li:nth-child(1):hover {
  background-color: #33bbc5dc;
}
.navbar ul li a {
  font-size: 1.1vw;
  color: aliceblue;
  text-decoration: none;
  margin: 3vmin;
}
.navbar ul li a:hover {
  color: #4fe08e;
}
#main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card {
  overflow: hidden;
  margin: 1vw 2vw;
  border-radius: 0.6vmax;
  background-color: #85e6c5;
  height: 38vw;
  width: 28vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out;
}
.card:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4);
}
.card h2 {
  font-family: "Ubuntu", sans-serif;
  margin-top: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0vw 2vw;
  height: 18vw;
  color: #7d204dc7;
}
.card img {
  margin-top: 0vw;
  width: 100%;
  height: 14vw;
  border-radius: 0.6vw 0.6vw 0vw 0vw;
}
.info {
  width: 100%;
  padding: 1vw 3vw;
  height: 20vw;
}
.info p span {
  background-color: #33bbc5;
  padding: 0.2vw 0.6vw;
  border-radius: 0.6vw;
  color: aliceblue;
  margin-right: 1vw;
  text-align: center;
}
.info p {
  margin: 0.5vw 0vw;
}
.card button {
  outline: none;
  border: none;
  padding: 0.4vw 3vw;
  margin-bottom: 1vw;
  border-radius: 0.6vw;
  background-color: #33bbc5;
  font-size: 1.1vw;
  transition: transform 0.2s;
}
.card button a {
  text-decoration: none;
  color: white;
}
.card button:active {
  transform: scale(0.9);
}
.card button:hover {
  background-color: #33bbc5c4;
}
footer {
  /* display: inline-flex; */
  /* margin-top: 4vw; */
  text-align: center;
  color: #f9f9f9;
  padding: 1vw;
  background-color: #33bbc5;
  border-radius: 0.6vw;
  margin-bottom: 0.5vw;
}
.mobileNavbar {
  display: none;
}
.hamburgerMenu {
  display: none;
}
@media (max-width: 480px) {
  #main {
    position: relative;
    top: 10vw;
    left: 0;
  }
  .navbar ul {
    display: none;
  }
  .navbar {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    justify-content: space-between;
    height: 14vw;
    box-shadow: 0px 3px 5px 0px #000000b8;
    margin-bottom: 10vw;
    border-radius: 0 0 1.5vmax 1.5vmax;
  }
  .navbar i {
    cursor: pointer;
    padding: 1.5vw 6vw;
    border-radius: 0.5vmax;
    font-size: 4vw;
    margin-left: 15vw;
  }
  .navbar i h3 {
    margin-left: 1vmin;
    font-size: 2.5vw;
  }
  .card {
    width: 40vw;
    height: 80vw;
    margin: 5vw 1vw;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
  }
  .card img {
    height: 22vw;
    border-radius: 0.6vw 0.6vw 0vw 0vw;
  }
  .card h2 {
    padding: 0vw 4vw;
    height: 19vw;
    font-size: 3.2vw;
  }
  .info {
    padding: 2vw 3vw;
    height: 30vw;
    font-size: 2vw;
  }
  .info p span {
    padding: 0.3vw 0.8vw;
    margin-right: 1.5vw;
  }
  .info p {
    margin: 1.5vw 0vw;
  }
  .card button {
    padding: 1.2vw 4vw;
    margin-bottom: 1vw;
    border-radius: 0.6vmax;
    font-size: 1.8vw;
  }
  footer {
    margin-top: 10vw;
    margin-bottom: 2vw;
    border-radius: 1vw;
    padding: 1vw 10vw;
    font-size: 3vw;
  }
  .hamburgerMenu {
    display: block;
    margin-right: 15vw;
    width: 6.2vw;
    cursor: pointer;

    appearance: none;
    background: none;
    outline: none;
    border: none;
  }
  .hamburgerMenu .bar,
  .hamburgerMenu:after,
  .hamburgerMenu:before {
    content: "";
    display: block;
    width: 100%;
    background-color: #f9f9f9;
    height: 0.8vw;
    margin: 1vw 1vw;
    transition: 0.4s;
  }
  .hamburgerMenu.isActive:before {
    transform: rotate(-45deg) translate(-3px, 6px);
  }
  .hamburgerMenu.isActive .bar {
    opacity: 0;
  }
  .hamburgerMenu.isActive:after {
    transform: rotate(45deg) translate(-2px, -5px);
  }
  .mobileNavbar {
    position: fixed;
    top: 0%;
    left: 100%;
    width: 100%;
    z-index: 98;
    display: block;
    min-height: 100vh;
    background-color: #6d56d2;
    padding-top: 30vw;
    overflow: hidden;
    transition: 0.4s;
  }
  .mobileNavbar ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
  }
  .mobileNavbar ul li {
    margin: 4vw;
    background-color: #33bbc5;
    padding: 1vmin 1vmin;
    border-radius: 1vw;
    transition: transform 0.3s;
  }
  .mobileNavbar ul li a {
    display: inline-block;
    width: 50vw;
    text-align: center;
    padding: 2vw 2vw;
    text-decoration: none;
    color: #f9f9f9;
  }
  .mobileNavbar ul li a:hover {
    color: #111213;
  }
  .mobileNavbar ul li:hover,
  .mobileNavbar ul li:active {
    transform: scale(0.9);
    background-color: #41bfc89d;
  }
  .mobileNavbar.isActive {
    left: 0%;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .card {
    width: 40vw;
    height: 80vw;
    margin: 5vw 1vw;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
  }
  .card img {
    height: 22vw;
    border-radius: 0.6vw 0.6vw 0vw 0vw;
  }
  .card h2 {
    padding: 0vw 4vw;
    height: 19vw;
    font-size: 3.2vw;
  }
  .info {
    padding: 2vw 3vw;
    height: 30vw;
    font-size: 2vw;
  }
  .info p span {
    padding: 0.3vw 0.8vw;
    margin-right: 1.5vw;
  }
  .info p {
    margin: 1.5vw 0vw;
  }
  .card button {
    padding: 1.2vw 4vw;
    margin-bottom: 1vw;
    border-radius: 0.6vmax;
    font-size: 1.8vw;
  }
}
@media (min-width: 768px) and (max-width: 900px) {
  .card {
    width: 28vw;
    height: 70vw;
    margin: 5vw 1vw;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
  }
  .card img {
    height: 18vw;
    border-radius: 0.6vw 0.6vw 0vw 0vw;
  }
  .card h2 {
    padding: 0vw 4vw;
    height: 15vw;
    font-size: 3vw;
  }
  .info {
    padding: 2vw 2vw;
    height: 28vw;
    font-size: 1.5vw;
  }
  .info p span {
    padding: 0.2vw 0.4vw;
    margin-right: 1.2vw;
  }
  .info p {
    margin: 2vw 0vw;
  }
  .card button {
    padding: 1vw 4vw;
    margin-bottom: 1vw;
    border-radius: 0.6vmax;
    font-size: 1.3vw;
  }
}
